<h1>Lessons</h1>
  <section>
    <h4>Filter by</h4>
    <h3>Content ˇ   Duration ˇ</h3>
    <h4>Sort by Publish Date ˇ</h4>
    <nav>
<!--
    <ul>
      <%# us something like this fo the auto generated categories %>
      <%# stand in text below, for now %>
      <%# zombies.each do |zombie| %>
        <li>
          <%#= zombie.name %>
          <%# if zombie.tweets.count > 1 %>
          SMART ZOMBIE
          <%# end %>
        </li>
      <%# end %>
    </ul>
-->
        All<br />
        Science & Technology<br />
        The Arts<br />
        Mathematics<br />
        Literature & Language<br />
    </nav>
  </section>
<article>
  <h3>Vid Title</h3>
    <p>Description</p>
</article>